body
{
    padding-right: 0px !important;
}
.main-container
{
    max-width: 60%;
}
.title-area
{
    height: 40px;
}
#note_title
{
    border: 1px solid black;
}
.data-area
{
    min-height: 200px !important;
}
.note_container
{
    min-width: 100%;
}
.notes
{
    width: 100%;
}
#note_data
{
    resize: none; border: 1px solid black
}
footer
{
    min-height: 70px;
    display: flex;
    background-color: #343a40!important;
    color: white;
    justify-content: center;
    align-items: center;
    
}
button
{
    margin-bottom: 5px;
}
.main-container
{
    min-height: 100vh;
}
.fa
{
    padding: 3px 0 0 0; 
    cursor:pointer;
}
.fa-pencil-square-o
{
    margin-left: 8.5rem;
}
.fa-eye
{
    margin-left: 8.5rem;
}
@media screen and (max-width: 900px)
{
    .main-container
    {
        max-width: 80% !important;
    }
}
@media screen and (max-width: 500px)
{
    .main-container
    {
        max-width: 90% !important;
    }
    .card
    {
        max-width: 90% !important;
    }
    .note_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .notes
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fcontent h6
    {
        font-size: 0.8rem !important;
    }
    .ml3
    {
        font-size: 1.5rem;
    }
}